<article class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
    <h3>Responsive Masonry Column</h3>
  </article>
  <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
    <img src="http://placeskull.com/350/170/2185C5" alt="" class="card-img-top img-fluid" />
    <div class="card card-block">
      <h4 class="card-title">Visualisar</h4>
      <p class="card-text">Photographer | Filmaker</p>
    </div>
  </div>
  <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
    <img src="http://placeskull.com/350/170/7ECEFD" alt="" class="card-img-top img-fluid" />
    <div class="card card-block">
      <h4 class="card-title">Editar</h4>
      <p class="card-text" ><a [routerLink]="[ '/user/edit']">Photographer | Filmaker</a></p>
    </div>
  </div>
  <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
    <img src="http://placeskull.com/350/170/FFF6E5" alt="" class="card-img-top img-fluid" />
    <div class="card card-block">
      <h4 class="card-title">Listar</h4>
      <p class="card-text"><a [routerLink]="[ '/user/show']"> Photographer | Filmaker</a></p>
    </div>
  </div>

<router-outlet></router-outlet>